.sponsors {
  background-color: #f9f9f9; /* Light gray background */
  padding: 30px 40px 140px; /* Spacing around the section */
  text-align: center; /* Center-align text */
}

.sponsors .container {
  max-width:1200px; /* Limit the width of the section */
  margin: 0 auto; /* Center the container */
}

.sponsors .title {
  font-size: 2.5rem; /* Large font size for the title */
  font-weight: 600;
  color: #333; /* Dark text color */
  margin-bottom: 10px; /* Spacing below the title */
}

.sponsors .description {
  font-size: 17px; /* Font size for the description */
  color: #131517a3; /* Gray text color */
  margin-bottom: 22px; /* Spacing below the description */
}

.sponsors .sponsorLogos {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  gap: 1.5rem; 
}

.sponsors .logo {
  max-height: 70px; /* Set a maximum height for logos */
  max-width: 100px; /* Set a maximum width for logos */
  object-fit: contain; /* Ensure logos maintain their proportions */
  padding: 10px; /* Add padding around logos */
  border-radius: 8px; /* Rounded corners */
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
}


.sponsors .logo[alt="Hootsuite Logo"] {
  transform: scale(1.2); /* Slightly increase the size of the Hootsuite logo */
}

.sponsors .logo[alt="Commvault Logo"] {
  transform: scale(1.2); /* Slightly increase the size of the Commvault logo */
}
@media (max-width: 1024px) {
  .sponsors .title {
    font-size: 30px; /* Large font size for the title */
  }

  .sponsors .logo {
    max-height: 60px; /* Reduce logo height for tablet */
    max-width: 80px; /* Reduce logo width for tablet */
  }
}

@media (max-width: 480px) {
.sponsors .title {
  font-size: 30px; 
  }
  }